* {
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
}

$login-1-color: #3B79D8;

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.phone {
	width: 300px;
	height: 600px;
	position: relative;
	z-index: 100;

	.phone-frame {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 100;
	}
}

.info-bar {
	height: 20px;
	display: flex;
	justify-content: space-between;
	z-index: 105;
	
	position: absolute;
	top: 33px;
	left: 40px;
	right: 33px;

	&__left {
		font-size: 11px;
		font-weight: bold;
	}

	&__right {
		display: flex;
		max-height: 8px;

		& > *:not(:last-child) {
			margin-right: 3px;
		}
	}
}


.default-position {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	z-index: 1;
	border-radius: 50px;
}

.login-1 {
	background: $login-1-color;
	padding-top: 100px;

	&__logo {
		width: 159px;
		height: 79px;

		margin: 0 auto;
		display: block;
	}
}




/** LOGIN ********************************************************************** LOGIN **/