* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

/*
0 - 600 : Phone
600 - 900 : Tablet portrait 
900 - 1200 : Tablet landscape
[1200 - 1800] : is where aor normal styles apply
1800 + : big screens 
$breakpoint argument choises
- phone 
- tab-port
- tab-land
- big-desktop
1em = 16px
ORDER: Base + typography > general layout + grid > page layout > components 
*/
html {
  font-size: 62.5% !important;
  scroll-behavior: smooth;
}
@media (min-height: 1000px) {
  html {
    font-size: 70% !important;
  }
}
@media (max-height: 900px) {
  html {
    font-size: 60% !important;
  }
}
@media (max-height: 850px) {
  html {
    font-size: 55% !important;
  }
}
@media (max-height: 800px) {
  html {
    font-size: 50% !important;
  }
}
@media (max-height: 750px) {
  html {
    font-size: 45% !important;
  }
}
@media (max-height: 700px) {
  html {
    font-size: 40% !important;
  }
}
@media (max-height: 600px) {
  html {
    font-size: 35% !important;
  }
}

.click-target {
  cursor: pointer;
}

body {
  margin: 0;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  width: 42.5rem;
  height: 86.2rem;
  position: relative;
  z-index: 5;
  overflow: hidden;
  border-radius: 8rem;
}
.phone .phone-frame {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}

.info-bar {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  z-index: 105;
  position: absolute;
  top: 4.8rem;
  left: 6rem;
  right: 4.5rem;
}
.info-bar__left {
  font-size: 1.6rem;
  font-weight: bold;
}
.info-bar__right {
  display: flex;
  max-height: 1.2rem;
}
.info-bar__right > *:not(:last-child) {
  margin-right: 0.3rem;
}

.default-position {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  border-radius: 10rem;
}
.default-position__popup {
  display: none;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  height: 97%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 15;
  border-radius: 5rem;
  transition: all 0.01s;
}
.default-position__popup-elem {
  display: none;
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  height: 50%;
  background: #fff;
  border-radius: 1.8rem;
  border-bottom-left-radius: 4.2rem;
  border-bottom-right-radius: 4.2rem;
  transition: all 0.3s;
  padding: 2.4rem 2rem 0;
}
.default-position__popup-elem img {
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
}
.default-position__popup-elem h3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.31;
  letter-spacing: -0.02em;
  color: #000000;
}

.popup-elem__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-elem__header-span {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.21;
  padding: 0.9rem 2.5rem;
  background: #1F3758;
  border-radius: 4.8rem;
  color: #FFFFFF;
  opacity: 0.9;
}

/** LOGIN-1 ********************************************************************** LOGIN-1 **/
.login-1 {
  background: #3B79D8;
  padding-top: 10rem;
  display: none;
  flex-direction: column;
}
.login-1__logo {
  width: 15.9rem;
  height: 7.9rem;
  margin: 0 auto;
  display: block;
}
.login-1__sup-logo {
  width: 11.3rem;
  height: 2rem;
  display: block;
  margin: 0 auto;
  margin-top: -1.5rem;
}
.login-1__img {
  margin-top: auto;
  width: 100%;
  height: 25rem;
  margin-bottom: 2.3rem;
  overflow: hidden;
  border-bottom-left-radius: 7rem;
  border-bottom-right-radius: 7rem;
  position: relative;
}
.login-1__img img {
  position: absolute;
  top: 0;
  left: -2rem;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.login-1__copy {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.33;
  text-align: center;
  letter-spacing: -0.02em;
  width: 100%;
  color: #FFFFFF;
  position: absolute;
  top: 1rem;
  z-index: 2;
}

.links {
  padding: 7.8rem 5.5rem 0;
  position: relative;
  z-index: 50;
}
.links__link {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 1.4rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  position: relative;
}
.links__link:not(:last-child) {
  margin-bottom: 0.8rem;
}
.links__link img {
  position: absolute;
  height: 2.4rem;
  width: 2.4rem;
}
.links__link span {
  margin: 0 auto;
}
.links__link_blue {
  background: #1877F2;
}
.links__link_green {
  background: #0077B5;
}
.links__link_dark-blue {
  background: #3367D6;
}
.links__link_simple-gray {
  background: #D3D7DB;
  color: #000;
}
.links__signup {
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1.8rem;
}
.links__signup-link {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
.links__signup-link:hover {
  color: #000;
}

/** LOGIN-2 ********************************************************************** LOGIN-2 **/
.login-2 {
  background: #EEEEE9;
  display: none;
  flex-direction: column;
  padding-top: 10rem;
}
.login-2__logo {
  width: 19.7rem;
  height: 7.1rem;
  margin: 0 auto;
  display: block;
}
.login-2__copy {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.33;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
  display: block;
  margin-top: auto;
  margin-bottom: 6rem;
}

.links-2 {
  margin-top: 5rem;
}
.links-2 .links__link {
  border: 0;
  color: #fff;
}
.links-2 .links__signup {
  color: #000;
}

/** SIGNUP ********************************************************************** SIGNUP **/
.signup {
  display: none;
  flex-direction: column;
}
.signup__header {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  padding-top: 7rem;
  padding-bottom: 1.2rem;
  position: relative;
  z-index: 10;
}
.signup__header div {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #000000;
}
.signup__header div span {
  margin: 0 auto;
}
.signup__header div img {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
.signup__header img {
  display: block;
  margin: 0 auto;
  width: 32.1rem;
  height: 0.5rem;
}
.signup__footer {
  margin-top: auto;
  position: relative;
  z-index: 10;
  padding: 0 4rem;
  padding-bottom: 3.5rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup__footer div {
  width: 100%;
  display: flex;
  margin-bottom: 2.5rem;
}
.signup__footer img {
  display: block;
  width: 13.4rem;
  height: 0.5rem;
}
.signup__footer span {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.33;
  padding: 1.2rem 2rem;
  letter-spacing: -0.02em;
  border-radius: 1.4rem;
  cursor: pointer;
}
.signup__back {
  color: #000000;
  background: #D3D7DB;
  opacity: 0.3;
  margin-right: 0.5rem;
  cursor: default !important;
}
.signup__back-active {
  opacity: 1;
  cursor: pointer !important;
}
.signup__next {
  color: #FFFFFF;
  background: #1e3857;
}

/** SIGNUP-BLOCK-1 ********************************************************************** SIGNUP-BLOCK-1 **/
.signup-block {
  position: relative;
  z-index: 10;
}
.signup-block__header {
  margin-left: 2.5rem;
  width: 87.5%;
  padding: 2.8rem 1.7rem 1.4rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.31;
  border-bottom: 1px solid #D3D7DB;
  letter-spacing: -0.02em;
  color: #000000;
}
.signup-block__header-description {
  padding-top: 0.8rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.43;
  color: #000000;
}
.signup-block__input-block {
  padding: 2.2rem 4rem 0;
  display: flex;
  -moz-column-gap: 0.6rem;
       column-gap: 0.6rem;
}
.signup-block__input-block div {
  width: 100%;
}
.signup-block__input-block span {
  display: block;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.28;
  letter-spacing: -0.02em;
  padding-bottom: 0.6rem;
  color: #727578;
}
.signup-block__input-block input {
  display: block;
  width: 100%;
  background: #F7F8F9;
  border: 1px solid #D3D7DB;
  border-radius: 0.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.31;
  color: #000000;
  padding: 0.9rem 1.1rem;
}
.signup-block__input-block input:focus {
  outline: none;
}
.signup-block__input-block select {
  display: block;
  width: 100%;
  background: #F7F8F9;
  border: 1px solid #D3D7DB;
  border-radius: 0.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.31;
  color: #727578;
  padding: 0.8rem 0.2rem;
}
.signup-block__input-block select:focus {
  outline: none;
}

.signup-block-1 {
  overflow: auto;
  width: 93.5%;
}
.signup-block-1 .signup-block__input-block {
  padding-right: 1rem;
}
.signup-block-1 .signup-block__header {
  width: 92.7%;
}

/** SIGNUP-BLOCK-2 ********************************************************************** SIGNUP-BLOCK-2 **/
::-webkit-scrollbar {
  width: 3px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  height: 2px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.606);
  -webkit-border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.signup-block-2 {
  display: none;
  overflow: auto;
  width: 93.5%;
}
.signup-block-2 .signup-block__header {
  width: 92.7%;
}
.signup-block-2 .signup-block__input-block {
  padding: 2.2rem 1.5rem 0 4rem;
}

.target-img {
  background: #FF874E;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 4.4rem;
  max-height: 4.4rem;
  border-radius: 0.8rem;
  margin-left: 0.6rem;
}
.target-img img {
  width: 2.4rem;
  height: 2.4rem;
}

/** SIGNUP-BLOCK-3 ********************************************************************** SIGNUP-BLOCK-3 **/
.signup-block-3 {
  display: none;
}

.contacts {
  padding: 2.2rem 4rem 0;
  height: 46rem;
  overflow-y: auto;
}
.contacts__item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.3rem;
  border: 1px solid #D3D7DB;
  box-shadow: 0px 0px 1.4rem rgba(69, 74, 82, 0.12);
  border-radius: 1.4rem;
}
.contacts__item:not(:last-child) {
  margin-bottom: 0.8rem;
}
.contacts__item:first-child .contacts__group {
  background: #DEFFDF;
}
.contacts__icon {
  width: 3.9rem;
  height: 3.9rem;
  margin-right: 1.2rem;
}
.contacts__title {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.31;
  letter-spacing: -0.02em;
  color: #000000;
}
.contacts__group {
  padding: 0.5rem 1.4rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  border: 1px solid #D3D7DB;
  border-radius: 100px;
}
.contacts__status-icon {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.4rem;
}
.contacts__status {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #000000;
}

/** DASHBOARD ********************************************************************** DASHBOARD **/
.dashboard {
  display: flex;
  flex-direction: column;
}
.dashboard__body {
  position: relative;
  z-index: 6;
}
.dashboard__header {
  position: relative;
  z-index: 6;
  padding: 8.4rem 3.5rem 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard__header img {
  width: 3rem;
  height: 3rem;
}
.dashboard__header span {
  width: 15.6rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.2;
  color: #000000;
}
.dashboard__recommend {
  padding: 0 3.5rem;
  margin-bottom: 0.8rem;
}
.dashboard__recommend span {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.33;
  display: block;
  margin-bottom: 0.8rem;
  color: #000000;
}
.dashboard__recommend img {
  width: 34.8rem;
  height: 11.7rem;
}
.dashboard__latest {
  margin: 0 3.5rem;
  margin-bottom: 2.4rem;
}
.dashboard__latest img {
  width: 33.6rem;
  height: 22rem;
}
.dashboard__tools {
  padding: 0 3rem 0 3rem;
}
.dashboard__tools span {
  margin-left: 0.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: #000000;
}
.dashboard__tools img {
  width: 21.5rem;
  height: 14.5rem;
}
.dashboard__tools-group {
  display: flex;
  overflow: auto;
  padding: 2px;
}
.dashboard__tools-group::-webkit-scrollbar {
  display: none;
}
.dashboard__footer {
  position: relative;
  z-index: 6;
  padding: 1.4rem 2.4rem 4rem;
  box-shadow: 0px 2px 20px rgba(69, 74, 82, 0.14);
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashboard__footer div {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.7rem;
}
.dashboard__footer div img {
  width: 2.8rem;
  height: 2.8rem;
}
.dashboard__footer img {
  display: block;
  margin: 0 auto;
  width: 13.4rem;
  height: 0.5rem;
}

/** NEW CAMPAIGN ********************************************************************** NEW CAMPAIGN **/
.new-campaign {
  display: none;
  flex-direction: column;
}
.new-campaign .signup__header {
  position: relative;
  z-index: 6;
  padding-top: 8rem;
}
.new-campaign .dashboard__recommend {
  position: relative;
  z-index: 6;
}
.new-campaign .dashboard__recommend img {
  width: 33.5rem;
  height: 13.7rem;
}
.new-campaign__feed {
  position: relative;
  z-index: 6;
  overflow: auto;
  height: 48rem;
  width: 93%;
}
.new-campaign .signup-block__header {
  border: none;
  padding-right: 0;
}
.new-campaign .signup-block__header:first-child {
  padding-top: 1rem;
}
.new-campaign__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem 2rem 4rem;
}
.new-campaign__card div {
  margin-right: 0.75rem;
}
.new-campaign__card-icon {
  width: 6rem;
  height: 6rem;
  margin-right: 1.2rem;
}
.new-campaign__card-title {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.31;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 0.4rem;
}
.new-campaign__card-subtitle {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.42;
  color: #727578;
}
.new-campaign .dashboard__footer {
  box-shadow: none;
  padding-bottom: 3rem;
}

.right-arrow {
  width: 2.4rem;
  height: 2.4rem;
}

/** GREETING CAMPAIGN ********************************************************************** GREETING CAMPAIGN **/
.greeting-camp {
  display: none;
  flex-direction: column;
}

.greeting-text {
  margin-top: 1.2rem;
  padding-top: 1.6rem;
  position: relative;
  display: none;
}
.greeting-text img {
  max-width: 100%;
}
.greeting-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;
  right: -1rem;
  height: 1px;
  background: #D3D7DB;
}

.signup__header {
  padding-top: 8rem;
}

.greeting-camp__body {
  padding: 0 4rem;
}

.contacts::-webkit-scrollbar {
  display: none;
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 6;
}
.contacts__item div:first-child {
  flex-grow: 1;
}
.contacts__item div:not(:last-child) {
  display: flex;
  align-items: center;
}

.img-arrow-down_up.arrow-active ~ .greeting-text {
  display: block;
}

.img-arrow-down_up_sm.arrow-active ~ .greeting-text {
  display: block;
}

.img-edit {
  width: 6rem;
  height: 2.9rem;
  margin-right: 0.6rem;
}

.img-check, .img-check2 {
  width: 2.9rem;
  height: 2.9rem;
  margin-right: 1rem;
}

.img-arrow-down_up, .img-arrow-down_up_sm {
  width: 2.4rem;
  height: 2.4rem;
}

.greeting-page1 {
  display: block;
}
.greeting-page1 .contacts {
  height: 46rem;
}

/** GREETING CAMPAIGN PAGE2-2********************************************************************** GREETING CAMPAIGN PAGE-2 **/
.greeting-page2 {
  display: none;
  position: relative;
  z-index: 6;
}
.greeting-page2 .greeting__search {
  width: 100%;
  height: 4.4rem;
  padding: 0 4rem;
  margin: 1rem 0 1.4rem;
}
.greeting-page2__recipients {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  margin-left: 4rem;
  margin-right: 2.5rem;
}
.greeting-page2__recipients img {
  height: 3.5rem;
  margin-right: 0.3rem;
}
.greeting-page2__recipients::-webkit-scrollbar {
  display: none;
}
.greeting-page2__names {
  padding: 1rem 2.4rem 0;
  overflow: auto;
  height: 40rem;
}
.greeting-page2__names::-webkit-scrollbar {
  display: none;
}
.greeting-page2__name {
  border-top: 1px solid #D3D7DB;
  padding: 1.25rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.greeting-page2__name div {
  display: flex;
  align-items: center;
}
.greeting-page2__name span {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: #000000;
}
.greeting-page2__name img:last-child {
  width: 2.9rem;
  height: 2.9rem;
  margin-left: 1.4rem;
}
.greeting-page2__name img:not(:last-child) {
  width: 2rem;
  height: 2rem;
  margin-left: 0.6rem;
}

/** GREETING CAMPAIGN PAGE2-3 ********************************************************************** GREETING CAMPAIGN PAGE-3 **/
.greeting-page3 {
  display: none;
}
.greeting-page3 .img-recipients {
  width: 10.6rem;
  height: 2.9rem;
  margin-right: 0.5rem;
}
.greeting-page3 .contacts {
  height: 51rem;
}
.greeting-page3 .greeting-text div {
  margin-top: 2rem;
  padding-top: 1.6rem;
  border-top: 1px solid #D3D7DB;
}
.greeting-page3 .greeting-text div img {
  height: 2.9rem;
}

/** SOCIAL MEDIA CAMPAIGN 1 ********************************************************************** SOCIAL MEDIA CAMPAIGN 1**/
.social-media-camp {
  display: none;
  flex-direction: column;
}
.social-media-camp .social-media-page2 {
  display: none;
}
.social-media-camp .social-media-page2 .contacts {
  height: 51rem;
}
.social-media-camp .default-position__popup {
  display: none;
  background: none;
  height: 95%;
}
.social-media-camp .default-position__popup-elem {
  display: flex;
  flex-direction: column;
  height: 96%;
}
.social-media-camp .popup-big-image {
  width: 31.7rem;
  height: 31.7rem;
}
.social-media-camp .popup-flex {
  display: flex;
  flex-direction: column;
  margin-top: 2.2rem;
}
.social-media-camp .popup-flex span {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: #727578;
}
.social-media-camp .popup-img-text {
  width: 31.7rem;
  height: 11rem;
  margin-top: 0.6rem;
}
.social-media-camp .keyboard {
  display: none;
  width: 35.7rem;
  height: 27.7rem;
  margin-left: -2.1rem;
  margin-top: auto;
  border-bottom-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
}
.social-media-camp .popup-elem__header {
  margin-bottom: 3.6rem;
}
.social-media-camp .social-media-footer {
  z-index: 1;
}

/** FOLLOW-UP ********************************************************************** FOLLOW-UP **/
.follow-up {
  display: none;
  flex-direction: column;
}
div .follow-up__sub-header {
  margin-bottom: 0;
}
div .follow-up__sub-header img {
  position: unset;
  height: 2.9rem;
  width: auto;
}
.follow-up .follow-up-main {
  border-top: 1px solid #D3D7DB;
  position: relative;
  z-index: 6;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 62rem;
  margin: 0 auto;
  width: 88%;
  padding: 2rem 0;
}
.follow-up .follow-up-main img {
  margin-bottom: 2rem;
}
.follow-up .follow-up-main::-webkit-scrollbar {
  display: none;
}
.follow-up .follow-img-1 {
  margin-left: 1rem;
  width: 34.6rem;
}
.follow-up .follow-delete-btn {
  padding: 0 1rem;
}

/** PROFILE ********************************************************************** PROFILE **/
.profile {
  display: none;
  flex-direction: column;
}
.profile .signup__header div {
  margin-bottom: 1rem;
}
.profile .profile-main {
  position: relative;
  z-index: 6;
  width: 88%;
  margin: 0 auto;
}
.profile .profile-membership {
  width: 35.5rem;
}
.profile .profile-settings {
  width: 35.5rem;
}

/** NOTIFICATIONS ********************************************************************** NOTIFICATIONS **/
.notifications-body {
  display: none;
}
.notifications-body .notifications-main {
  position: relative;
  z-index: 6;
  width: 88%;
  margin: 0 auto;
  overflow: auto;
  height: 59rem;
}
.notifications-body .notifications-main img {
  width: 35.5rem;
}
.notifications-body .notifications-main img:not(:last-child) {
  margin-bottom: 2.4rem;
}
.notifications-body .notifications-main::-webkit-scrollbar {
  display: none;
}

/** CAMPAIGNS ********************************************************************** CAMPAIGNS **/
.campaigns-body {
  display: none;
}
.campaigns-body__header {
  position: relative;
  z-index: 6;
  margin: 0 2.4rem;
  margin-bottom: 1rem;
  padding: 9rem 1.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D3D7DB;
}
.campaigns-body__header .cb-header-img1 {
  height: 4.1rem;
}
.campaigns-body__header .cb-header-img2 {
  height: 2.9rem;
}
.campaigns-body__main {
  position: relative;
  z-index: 6;
  height: 57rem;
  overflow: auto;
}
.campaigns-body__main .cb-main-search {
  margin: 0 3.7rem;
  width: 33.1rem;
}
.campaigns-body__main .cb-main-card {
  width: 35.6rem;
  margin: 0 2.4rem;
  margin-bottom: -2rem;
}
.campaigns-body__main::-webkit-scrollbar {
  display: none;
}

/** CRM ********************************************************************** CRM **/
.crm-body {
  display: none;
}
.crm-body .crm-body-image1 {
  margin-left: 1rem;
  width: 33.6rem;
  margin-bottom: 2rem;
}
.crm-body .crm-body-image2 {
  margin-left: 1rem;
  width: 34.6rem;
}
.crm-body__main {
  position: relative;
  z-index: 6;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0 auto;
  width: 88%;
  height: 57rem;
}
.crm-body__main::-webkit-scrollbar {
  display: none;
}
.crm-body__group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33rem;
  margin: 0 auto;
  padding: 1.2rem;
  border: 1px solid #D3D7DB;
  border-bottom: none;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
}
.crm-body__group-header img {
  height: 4rem;
}
.crm-body__group-header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crm-body__group-header div img {
  height: 2.9rem;
  margin-left: 0.6rem;
}
.crm-body__group-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crm-body__group-main img {
  width: 33rem;
  padding: 1.5rem;
  border: 1px solid #D3D7DB;
}
.crm-body__group-main img:not(:last-child) {
  border-bottom: none;
}
.crm-body__group-main img:last-child {
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
}

/** MESSAGES ********************************************************************** MESSAGES **/
.messages {
  display: none;
  flex-direction: column;
}
.messages .messages-main {
  position: relative;
  z-index: 6;
  width: 88%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messages .messages-main .signup__header div {
  margin-bottom: 1.5rem;
}
.messages .messages-main__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}
.messages .messages-main__header .m-img1 {
  height: 4.1rem;
}
.messages .messages-main__header .m-img2 {
  height: 2.9rem;
}
.messages .messages-main__sub-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.9rem 0;
  border-top: 1px solid #D3D7DB;
  border-bottom: 1px solid #D3D7DB;
}
.messages .messages-main__sub-header img {
  height: 2.8rem;
}
.messages .messages-main__sub-header img:not(:last-child) {
  margin-right: 0.3rem;
}
.messages .messages-main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.messages .messages-main__body img {
  width: 35.6rem;
  padding: 1.7rem;
  border-bottom: 1px solid #D3D7DB;
}